name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci_check:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: checkout code
        uses: actions/checkout@master

      - name: setup nodejs
        uses: actions/setup-node@master
        with:
          node-version: 22

      - name: setup pnpm
        uses: pnpm/action-setup@master
        with:
          version: 10
          run_install: false

      - name: install deps
        run: pnpm install --frozen-lockfile
        env:
          DATABASE_URL: test

      - name: build
        run: pnpm build
